body{
	margin: 0px;
	padding: 0px;
    font-family: 'Gotham', sans-serif;
	background-color: black;
}

.logo-img {

	font-size: 32px;
	color: white;
	width: 105px;
	margin-left: 4rem;

	
}


.sign_in_button {
	margin-left: 1rem;
	background-color: #dc1a28;
	height: 100px;
	border-radius: 3px;
	padding: 6px;
}

.sign_in_button:hover {
    background-color: #dc1a28;
    
}

a {
	text-decoration: none;
	color: white;
}

li {
	list-style-type: none;
}
header {
	height: 75px;
    width: 100%;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 2;
	transition: ease 1s;
	display: grid;
	grid-template-rows: 1fr;
	align-items: center;
}
.menu {
	display: flex;
}
nav {
	display: flex;
	justify-content: space-between;
	
	align-items: center;
}
nav li {
	margin-right: 10px;
	font-size: 16px;
}
.menuAll {

	display: flex;
	justify-content: center;
	margin-right: 20px;
	margin-top: 20px;
}


.nav_search {

	height: 30px;
}
.logo_box {
	display: flex;
	justify-content: center;
	align-items: center;

}
.logo {
	width: 100px;
	height: 70px;
}



/*-----------------------------------------------------------------*/

main {
    background-color: #080404;
    height: calc(100vh - 75px);
    
}

.img_caroussel {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    position: relative;
}

.films_desc {
	left: 5%;
	top: 15%;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.main_button {

	display: flex;

}
.main_titre {
    font-size: 6rem;
    color: rgb(202, 196, 196);
    font-family: 'Abril Fatface', cursive;
}

.main_synopsis{
	margin-top: 2.5rem;
    color: #ccc;
    width: 30rem;
    text-align: justify;

}

.lecture_button, .liste_button {
	color: #ccc;
	background-color: rgba(79, 75, 75, 0.573);
	padding: 0.5rem;
	width: 7rem;
	text-align: center;
	font-weight: bold;
	font-size: small;
	border-radius: 2px;
	margin-top: 2rem;
}

.liste_button:hover, .lecture_button:hover {
	color: black;
	background-color: white;

}

.liste_button {
	margin-left: 4rem;
}

#films_slider {
	
	height: 10vh;
	width: 100%;
	position: absolute;
	top: 92%;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.films_slider2 {
		
	height: 10vh;
	width: 100%;
	position: absolute;
	top: 135%;
	left:0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

.up_slider_button {
	background-color: blue;
	padding: 2rem;
}
.down_slider_button {
	width: fit-content;
	height: fit-content;
}

.films_slider_item {
	height: 12rem;
	width: 10rem;
	background-color: red;
}


footer {
	width: 100%;
	height: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(95,88,88,1) 100%);

}